.journals-page {
  max-width: 1300px;
  margin: 2.5rem auto 1.0rem auto;
  padding: 0 2rem;
}

.journals-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #18181b;
}

.journals-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.journal-card {
  background: #f9f6f3;
  border-radius: 18px;
  padding: 1.5rem 1.2rem 1.2rem 1.2rem;
  border-bottom: 1rem;
  width: 240px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
  transition: box-shadow 0.2s;
}

.journal-card:hover {
  box-shadow: 0 4px 16px rgba(56,135,254,0.08);
}

.journal-img-wrap {
  width: 100%;
  height: 150px;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.journal-img {
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 12px;
  background: #fff;
}

.journal-action-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 2;
}

.icon-btn {
  /* background: #fff; */
  border: none;
  border-radius: 50%;
  padding: 0.3rem;
  box-shadow: 0 1px 4px rgba(56,135,254,0.08);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, box-shadow 0.2s;
}

.icon-btn:hover {
  /* background: #f0f4ff; */
  box-shadow: 0 2px 8px rgba(56,135,254,0.15);
}

.icon-btn svg {
  display: block;
}

.journal-date {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #222;
}

.journal-desc {
  font-size: 1.05rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.no-journals-msg {
  color: #888;
  font-size: 1.2rem;
  margin-top: 2rem;
}